body {
    background: #000 url(./images/space.jpg) no-repeat top center;
    background-size: 1200px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
}

.header {
    width: 965px;
    margin: 0 auto;
    min-height: 140px;
    max-height: fit-content;
    overflow: hidden;
    padding: 48px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.header__navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navigation__button {
    display: inline-block;
    list-style: none;
    margin: 0 13px 0 0;
}

.link-button {
    padding: 0;
    width: 124px;
    height: 34px;
    cursor: pointer;
    text-align: center;
}

.link-button--selected {
    background: linear-gradient(to bottom, #203, #102);
    border: solid 1px #204;
    border-top: solid 1px #648;
    color: #eee;
}

.link-button__link {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1px #888;
    color: #f19;
    line-height: 34px;
}

.link-button__link--selected {
    color: #eee;
}

.email-field {
    height: 33px;
    width: 132px;
    border: 1px solid #cdcdcd;
    padding: 0 5px;
    background: linear-gradient(to bottom, #dbc, #ddd, #dbc);
}

.email-field::placeholder {
    color: #111;
    font-style: italic;
    font-size: 12px;
}

.submit-button {
    width: 86px;
    height: 36px;
    cursor: pointer;
    text-transform: uppercase;
    color: #ddd;
    background: linear-gradient(to bottom, #c23, #702, #823);
    border: solid 1px #a44;
    border-top: solid 2px #d77;
}

.submit-button:hover {
    background: linear-gradient(to bottom, #cc3, #772, #883);    
    border: solid 1px #aa4;
    border-top: solid 2px #dd7;
}

.submit-button:active {
    background: linear-gradient(to bottom, #2c3, #072, #283);    
    border: solid 1px #4a4;
    border-top: solid 2px #7d7;
}

.login-form__submit {    
    margin: 0 12px;
}

.main {
    width: 965px;
    margin: 0 auto;
}

.main__album-info {
    max-width: 480px;
    min-width: 150px;
    margin: 0 0 0 40px;
}

.album-info__logo {
    background: url(./images/logo.png);
    width: 460px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.album-info__description {
    position: relative;
    margin: 20px 0;
}

.description-block {
    color: #ccc;
    height: auto;max-width: 350px;
    min-width: 150px;
    line-height: 18px;
    padding: 0 0 0 130px;
    font-size: 12.5px;
}

.download-text {
    color: #92a;
    font-size: 15px;
    font-style: italic;
}

.download-button {
    height: 23px;
    width: 96px;
    border-radius: 4px;
    border: 1px solid #11b;
    border-bottom: 2px solid #339;
    border-top: 2px solid #88f;
    background: linear-gradient(to bottom, #44f, #43a, #118);
    color: #eee;
    text-shadow: 0 2px 3px #116, 0 0 2px #fff;
    font-family: "consolas";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.description-block__download-button {
    right: 20px;
    position: absolute;
}

.album-info__quote {
    position: relative;    
    margin-top: 90px;    
}

.quote-block {
    color: #88b;
    height: 180px;
    padding: 5px 16px;
}

.quote-text {
    font-size: 13px;
    font-style: oblique;    
    letter-spacing: -0.3px;
}

.quote-text::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: bold;
    color: inherit;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 20px;
}

.quote-text::after {
    content: "\201D";
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: bold;
    color: inherit;
    position: relative;
    left: 0px;
    top: 20px;
    line-height: 10px;
}

.quote-block__author {
    font-size: 13px;
    text-align: right;
}

.main__body {
    position: relative;
    height: auto;
    max-width: 880px;
    margin-left: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.body-content__content {
    width: 500px;
}

.body-content__side-bar {
    width: 340px;
}

.video-player {
    width: 500px;
    height: 280px;
    border: solid 1px #206;
    background: url(./images/video.png) no-repeat;
    background-size: cover;
}

.body-content__paragraph {
    margin: 26px 0;
    color: #767;
    line-height: 24px;
}

.side-bar__list {
    margin: 0 0 36px 0;
    padding: 0;
}

.side-bar__item {
    margin: 12px 0 0 0;
}

.list-item {
    width: inherit;
    height: auto;
    list-style: none;
    padding: 0 0 0 14px;
    background: #213;
    color: #568;
    line-height: 48px;
}

.list-item--main {
    margin: 0;
    background: #767;
    color: #eee;
    font-family: "NixieOne-Regular";
    font-style: italic;
    font-weight: normal !important;
    font-size: 25px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 2px #ddd;
}

.list-item--child {
    cursor: pointer;
    transition: margin 1s;
    font-size: 14px;
}

.list-item--child:hover {
    margin: 12px 0 0 10px;
}

.list-item > b {
    font-size: 16px;
}

.list-item--image {
    margin: 0;
    padding: 1px 14px;
}

.body__album-icon {
    display: block;
    margin: 14px auto;
    border: 3px solid #eee;
    border-radius: 4px;
    background: url(images/morda.png);
    width: 160px;
    height: 160px;
    background-size: contain;
}

.body__album-info {
    bottom: 0;
    font-size: 14px;
}

.body__sociallink {
    display: inline-block;
}

.body__sociallink--icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    filter: invert(0.7) drop-shadow(0px 1px 0px #fff);
    margin: 8px 16px 0 0;
    cursor: pointer;
    user-select: none;
}

.body__sociallink--icon:hover {
    filter: invert(0.8);
}

.footer {
    margin: 20px 0 150px 0;
}

.footer__content {
    background: #213;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    max-width: 940px;
    color: #878;
    font-size: 10px;
}

@media all and (max-width:900px) {
    body {
        width: 100%;
    }

    header {
        width: 600px;
    }

    main {
        width: 600px;
    }

    .header {
        display: block;
    }

    .header__login {
        margin: 15px 0;
    }
    
    .main__body {
        flex-direction: column;
    }

    .body__side-bar {
        width: 500px;
    }
}

@supports (caret-color: red) {
    .email-field {
        caret-color: red;
    }
}
